# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
BiteIndicator.X/build/default/debug/HardverTest.p1.d
BiteIndicator.X/build/default/debug/HardverTest.pre
BiteIndicator.X/build/default/debug/Initialization.p1
BiteIndicator.X/build/default/debug/Initialization.p1.d
BiteIndicator.X/build/default/debug/Initialization.pre
BiteIndicator.X/build/default/debug/OSC.p1
BiteIndicator.X/build/default/debug/OSC.p1.d
BiteIndicator.X/build/default/debug/OSC.pre
BiteIndicator.X/build/default/debug/main.p1
BiteIndicator.X/build/default/debug/main.p1.d
BiteIndicator.X/build/default/debug/main.pre
BiteIndicator.X/build/default/production/HardverTest.p1.d
BiteIndicator.X/build/default/production/HardverTest.pre
BiteIndicator.X/build/default/production/Initialization.p1
BiteIndicator.X/build/default/production/Initialization.p1.d
BiteIndicator.X/build/default/production/Initialization.pre
BiteIndicator.X/build/default/production/OSC.p1
BiteIndicator.X/build/default/production/OSC.p1.d
BiteIndicator.X/build/default/production/OSC.pre
BiteIndicator.X/build/default/production/main.p1
BiteIndicator.X/build/default/production/main.p1.d
BiteIndicator.X/build/default/production/main.pre
